---
import { Image } from "astro:assets";
import { recentWorks } from "@/utils/works";
import { Section } from "@/layouts";
---

<Section id="projects" title="MY RECENT WORK">
  <div class="flex flex-col gap-5">
    {
      recentWorks.map((work, idx) => (
        <a
          target="_blank"
          href={work.link}
          class="hover:bg-surface transition-all duration-200 p-4 rounded-lg grid md:grid-cols-8 gap-2 bg-surface border border-border shadow-lg group"
        >
          <Image
            src={work.img}
            alt={work.name}
            height={150}
            width={225}
            class="rounded-lg md:col-span-2"
          />

          <div class="md:col-span-6">
            <h3 class="group-hover:text-primary">{work.name}</h3>
            <p class="tracking-wider text-sm text-muted-foreground">
              {work.desc}
            </p>
          </div>
        </a>
      ))
    }
  </div>
</Section>
